*{
	box-sizing: border-box;
}

body{
	margin: 0;
	font-size: sans-serif;
    background-image: url(img/image.png);
}

h1{
	color: #fff;
	text-align: center;
}

.form-registro{
	width: 98%;
	max-width: 500px;
	margin: auto;
	background: #fff;
	border-radius: 7px; 
}

h2{
	background: #0a81bd;
	color: #fff;
	padding: 20px;
	text-align: center; 
	font-weight: 100; 
	font-size: 30px; 
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
	border-bottom: 5px solid #054a6d;
}

.contenedor{
	padding: 10px 30px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

input{
	margin-bottom: 15px;
	padding: 10px;
	font-size: 16px;
	border-radius: 3px;
	border: 1px solid darkgray;
}

.input-50{
	width: 48%;
}

.input-100{
	width: 100%;
}

.btn{
	background: crimson;
	color: #fff;
	margin: auto;
	padding: 10px 40px;
	cursor: pointer;
}
.btn:active{
	transform: scale(1.05);
}

.link{
	width: 100%;
	margin:7px;
	text-align: center;
	font-size: 14px;
}